body {
  font-family: Arial;
  background: #f5f7fb;
  padding: 40px;
}

input {
  display: block;
  padding: 10px;
  margin: 10px 0;
  width: 300px;
}

button {
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
